<!DOCTYPE HTML>

<html>
	<head>
		<title>VISABOT</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/"><img src="https://cdn.dribbble.com/users/689802/screenshots/4044319/respage_chatbot_bubbletalk_dribbble.gif" alt="" width=17% height="auto" /></a></h1>
						<nav class="links">
						</nav>
						<nav class="main">
							<ul>
								
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">


						<!-- Actions -->
							<section>
								<ul class="actions stacked">
										<li><a href="#">LINK1</a></li>
										<li><a href="#">LINK2</a></li>
										<li><a href="#">LINK3</a></li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<center><h2>VISABOT</h2>
										<p>HERE TO HELP YOU ON TRAVEL QUERIES</p></center>
									</div>
								</header>
								<center><strong>Click on the globe to start</strong></center>
								
                                <center>
								
								<a href="/chatbot"><img src="https://media0.giphy.com/media/dYUslDahf6Uw71gH3t/giphy.gif?cid=6c09b9527qj8big46bis3ow91wmacy6ui4zpxoq0tedy2r2j&rid=giphy.gif&ct=s"  width=20% height="auto" alt=""/></a></center>
								<p>Welcome to our travel chatbot! Our chatbot is your ultimate travel companion that is designed to help you plan your next adventure seamlessly. With our chatbot, you can explore different destinations, find the best deals on flights and accommodations, and get insider tips and recommendations on things to do and places to visit.

                                    Our travel chatbot is powered by the latest artificial intelligence and natural language processing technologies, allowing you to communicate with it in a conversational manner. Whether you are looking for a relaxing beach getaway, a thrilling adventure, or a cultural immersion, our chatbot can help you plan your trip based on your preferences and budget.
                                    
                                    Say goodbye to hours of scrolling through travel websites and guidebooks, and hello to a personalized and efficient travel planning experience with our chatbot. Let's start exploring the world together!</p>
								<footer>
	
									<center>
										<a href="/chatbot" class="button large">VISABOT</a>
							        </center>
								</footer>
							</article>


						

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<header>
									<h2>CHATBOT</h2>
									<p>Travel guide in your hands</p>
								</header>
							</section>


						<!-- About -->
							<section class="blurb">
								<h2>About</h2>
								<p>  </p>
							</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>